In [1]:
%run Importacao-dos-dados.ipynb
%run analise-exploratoria.ipynb
%run data-manipulation.ipynb
%run Modelos.ipynb
import warnings
warnings.filterwarnings('ignore')

# Aula 2

In [2]:
dados = correcao_feature_valor(dados)
dados

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,Moeda,Valor_1,Tipo_anuncio
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000,R$,7.000.000,None
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000,R$,3.700.000,None
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000,R$,380.000,None
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000,R$,685.000,None
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000,R$,540.000,None
...,...,...,...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000,R$,665.000,None
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000,R$,2.300.000,None
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000,R$,1.050.000,None
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês,R$,2.200,/Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000,R$,270.000,None

In [3]:
dados_vendas = criacao_dados_vendas(dados)

C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/2308216456.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados_vendas['Valor_1_float']=dados_vendas['Valor_1'].str.replace(".","").astype(float)
C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/2308216456.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_vendas['Valor_1_float']=dados_vendas['Valor_1'].str.replace(".","").astype(float)

 #### Desafios semana 2
 
 - Criar uma escala de valores em milhões
 - Usar a biblioteca galeritas
 - Melhorar visualização dos dados para melhorar a decisão (alterar labels, cores, título, escala)
 - Preço do metro quadrado por bairro (texto) e plotar em um gráfico
 - Explorar visualizações de duas variáveis
 - Pesuqisar documentação para analisar os quartis

# Aula 3

In [4]:
dados_bairro = criacao_metro_quadrado_bairro(dados_vendas)

In [5]:
ibge_sp = importar_base_ibge()
ibge_sp.head()

,Cod_setor,Cod_Grandes Regi�es,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,355030801000001,3,Regi�o Sudeste,35,S�o Paulo,3515,Metropolitana de S�o Paulo,35061,S�o Paulo,20,...,3.01,2.32,2091.32,8532451.78,2164.55,8673276.78,1227.41,4285771.99,1713.75,5152087.86
1,355030801000002,3,Regi�o Sudeste,35,S�o Paulo,3515,Metropolitana de S�o Paulo,35061,S�o Paulo,20,...,2.98,2.09,1650.09,3983441.31,1717.44,4030519.99,1045.78,2572133.32,1468.08,2991546.94
2,355030801000003,3,Regi�o Sudeste,35,S�o Paulo,3515,Metropolitana de S�o Paulo,35061,S�o Paulo,20,...,3.31,3.08,1280.43,5474593.06,2349.53,7553913.02,902.97,2735492.52,1786.79,3837674.74
3,355030801000004,3,Regi�o Sudeste,35,S�o Paulo,3515,Metropolitana de S�o Paulo,35061,S�o Paulo,20,...,3.16,2.26,1119.59,3572955.10,1859.13,4567289.50,869.09,2122409.02,1567.41,2735383.24
4,355030801000005,3,Regi�o Sudeste,35,S�o Paulo,3515,Metropolitana de S�o Paulo,35061,S�o Paulo,20,...,3.14,2.35,1416.90,2240207.58,1581.66,2240109.39,917.71,1570047.75,1356.35,1725877.85

## Desafios aula 3
 
- Tentar vincular dados do IBGE com dados dos imóveis
- tratar os outliers e comparar os resultados
- Agrupar por mais de uma categoria e realizar as análises

# Aula 4

In [6]:
enderecos = pd.read_csv("enderecos.csv")
enderecos.sample(10)

C:\Users\Gabriel_kopke_jr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude
928354,Avenida,Doutor Munir Tannús Abdalla,Avenida Doutor Munir Tannús Abdalla,NaN,Shopping Park,Uberlândia,MG,38425381.0,-18.969275,-48.271888
361272,Rua,Valério Magalhães,Rua Valério Magalhães,NaN,São Francisco,Boa Vista,RR,69305150.0,2.838077,-60.678576
719171,Rua,Santa Vitória,Rua Santa Vitória,NaN,Asa Branca,Feira de Santana,BA,44046015.0,-12.207827,-39.010469
298246,Rua,Macabu,Rua Macabu,NaN,Parque Roseiral,Belford Roxo,RJ,26176095.0,-22.759537,-43.380651
806203,Rua,C,Rua C (Cj Morada do Bosque),NaN,Petrópolis,Maceió,AL,57062589.0,-9.649849,-35.708949
900638,Rua,da Manilha,Rua da Manilha,NaN,Ipê,São José dos Pinhais,PR,83055462.0,-25.531835,-49.203572
106573,Avenida,Parque,Avenida Parque,NaN,Parque Vila Verde,Formosa,GO,73808400.0,-15.544131,-47.305657
936003,Rua,Marlene Baratta,Rua Marlene Baratta,NaN,Jardim Santa Adélia,Fernandópolis,SP,15603532.0,-20.281023,-50.247580
223294,Rua,dos Sombreiros,Rua dos Sombreiros,NaN,Muçumagro,João Pessoa,PB,58066113.0,-7.213414,-34.839408
1100829,Rua,Arthur Borges,Rua Arthur Borges,NaN,Residencial Alvina Paniago,Mineiros,GO,75831170.0,-17.564185,-52.554994

In [7]:
enderecos_sp = enderecos.query("sigla_uf == 'SP'")

In [8]:
enderecos_sp['rua'] = enderecos_sp["tipo_logr"] + " " + enderecos_sp["logr_nome"]
enderecos_sp['rua'] = enderecos_sp["rua"].str.lower().str.strip()

C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/891011191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enderecos_sp['rua'] = enderecos_sp["tipo_logr"] + " " + enderecos_sp["logr_nome"]
C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/891011191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enderecos_sp['rua'] = enderecos_sp["rua"].str.lower().str.strip()

In [9]:
enderecos_sp

,tipo_logr,logr_nome,logr_compl,numero,bairro,nome_localidade,sigla_uf,cep,latitude,longitude,rua
1,Rua,João Antônio Vasconcelos,Rua João Antônio Vasconcelos - até 627/628,627,Amizade,Araçatuba,SP,16074320.0,-21.190276,-50.448686,rua joão antônio vasconcelos
413269,Rua,A,Rua A,NaN,Jardim Glória,Americana,SP,13468220.0,-22.756531,-47.343738,rua a
413270,Rua,A,Rua A,NaN,Jardim São Roque,Americana,SP,13469414.0,-22.743734,-47.348631,rua a
413271,Rua,A,Rua A,NaN,Iate Clube de Campinas,Americana,SP,13475620.0,-22.737846,-47.333569,rua a
413272,Rua,João Bandini,Rua João Bandini,NaN,Jardim Miriam,Americana,SP,13469072.0,-22.744283,-47.351588,rua joão bandini
...,...,...,...,...,...,...,...,...,...,...,...
1113858,Rua,Daniel Buccieri,Rua Daniel Buccieri,NaN,Jardim Alvorada,Monte Mor,SP,13198524.0,-22.926185,-47.265163,rua daniel buccieri
1113865,Rua,Ottorino Rizzi,Rua Ottorino Rizzi,NaN,Royal Park,Ribeirão Preto,SP,14028563.0,-21.241158,-47.830249,rua ottorino rizzi
1113873,Rua,Adriano Michelutti Cândia,Rua Adriano Michelutti Cândia,NaN,Jardim San Marco II,Ribeirão Preto,SP,14035198.0,-21.200525,-47.741982,rua adriano michelutti cândia
1113882,Rodovia,Mario Tonolli,Rodovia Mario Tonolli,NaN,Morro Alto,Itupeva,SP,13297002.0,-23.186604,-47.078942,rodovia mario tonolli
1113884,Rua,Tiradentes,Rua Tiradentes - de 181 a 369 - lado ímpar,181,Vila Queiroz,Artur Nogueira,SP,13163000.0,-22.577444,-47.168819,rua tiradentes

In [10]:
dados_vendas["Rua"].str.extract(r'(^[\w ]+)')[:10]

                           0
0            Avenida Itacira
1  Rua Aurelia Perez Alvarez
2            Rua Alba Valdez
3                        NaN
4         Rua Tobias Barreto
5            Rua Graham Bell
6        Rua Francisco Paulo
7      Rua Guilherme Valente
8        Rua Sagrada Família
9                 Rua Tapaji

In [11]:
dados_vendas['apenas_ruas'] = dados_vendas["Rua"].str.extract(r'(^[\w ]+)')
dados_vendas["apenas_ruas"] = dados_vendas["apenas_ruas"].str.lower().str.strip()
dados_vendas

C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/3076014897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_vendas['apenas_ruas'] = dados_vendas["Rua"].str.extract(r'(^[\w ]+)')
C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/3076014897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_vendas["apenas_ruas"] = dados_vendas["apenas_ruas"].str.lower().str.strip()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,Moeda,Valor_1,Tipo_anuncio,Valor_1_float,apenas_ruas
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000,R$,7.000.000,None,7000000.0,avenida itacira
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000,R$,3.700.000,None,3700000.0,rua aurelia perez alvarez
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000,R$,380.000,None,380000.0,rua alba valdez
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000,R$,685.000,None,685000.0,NaN
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000,R$,540.000,None,540000.0,rua tobias barreto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10002,Avenida Odila,Planalto Paulista,São Paulo,267,3,6,4,R$ 1.500.000,R$,1.500.000,None,1500000.0,avenida odila
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000,R$,665.000,None,665000.0,rua tapuçu
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000,R$,2.300.000,None,2300000.0,rua guararema
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000,R$,1.050.000,None,1050000.0,rua estero belaco
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000,R$,270.000,None,270000.0,rua barão de tramandaí

In [12]:
dados_vendas["apenas_ruas"] = dados_vendas["apenas_ruas"].str.lower().str.strip()

C:\Users\GABRIE~1\AppData\Local\Temp/ipykernel_7800/3720528130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_vendas["apenas_ruas"] = dados_vendas["apenas_ruas"].str.lower().str.strip()

In [13]:
dados_vendas

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,Moeda,Valor_1,Tipo_anuncio,Valor_1_float,apenas_ruas
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000,R$,7.000.000,None,7000000.0,avenida itacira
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000,R$,3.700.000,None,3700000.0,rua aurelia perez alvarez
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000,R$,380.000,None,380000.0,rua alba valdez
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000,R$,685.000,None,685000.0,NaN
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000,R$,540.000,None,540000.0,rua tobias barreto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10002,Avenida Odila,Planalto Paulista,São Paulo,267,3,6,4,R$ 1.500.000,R$,1.500.000,None,1500000.0,avenida odila
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000,R$,665.000,None,665000.0,rua tapuçu
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000,R$,2.300.000,None,2300000.0,rua guararema
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000,R$,1.050.000,None,1050000.0,rua estero belaco
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000,R$,270.000,None,270000.0,rua barão de tramandaí

In [14]:
dados_geo = pd.merge(left = dados_vendas,
                    right = enderecos_sp[["rua","cep","latitude","longitude"]],
                    how = "left",
                    left_on = "apenas_ruas",
                    right_on = "rua").drop_duplicates(subset=dados_vendas.columns).query("cep > 0")
dados_geo

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,Moeda,Valor_1,Tipo_anuncio,Valor_1_float,apenas_ruas,rua,cep,latitude,longitude
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000,R$,7.000.000,None,7000000.0,avenida itacira,avenida itacira,11443160.0,-23.975993,-46.201317
5,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000,R$,3.700.000,None,3700000.0,rua aurelia perez alvarez,rua aurelia perez alvarez,4642020.0,-23.640961,-46.688311
6,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000,R$,380.000,None,380000.0,rua alba valdez,rua alba valdez,4845200.0,-23.752990,-46.695889
7,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000,R$,685.000,None,685000.0,NaN,NaN,18125000.0,-23.531043,-47.255023
26,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000,R$,540.000,None,540000.0,rua tobias barreto,rua tobias barreto,13474663.0,-22.698901,-47.294461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89956,Avenida Odila,Planalto Paulista,São Paulo,267,3,6,4,R$ 1.500.000,R$,1.500.000,None,1500000.0,avenida odila,avenida odila,4058020.0,-23.609093,-46.647258
89958,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000,R$,665.000,None,665000.0,rua tapuçu,rua tapuçu,4671185.0,-23.661018,-46.691521
89959,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000,R$,2.300.000,None,2300000.0,rua guararema,rua guararema,13030640.0,-22.922749,-47.076960
89976,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000,R$,1.050.000,None,1050000.0,rua estero belaco,rua estero belaco,4145020.0,-23.616124,-46.632983
89977,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000,R$,270.000,None,270000.0,rua barão de tramandaí,rua barão de tramandaí,3207000.0,-23.600330,-46.562415

### Desafios

- Realizar uma análise dos dados do IBGE por mapa, analisando a distribuição de renda.

- Repassar a aula para entender melhor o que foi realizado.

- Aprofundar a análise entre dados de vendas e renda.

- Realizar a análise exploratória e encontrar variáveis relevantes para solução do problema.

# Aula 5

In [15]:
dados_vendas_censo = importar_base_vendas_censo()

### Desafios

1 - Adicionar o valor "real" do m² do imóvel.

2 - Testar outro modelo de regressão.

3 - Criar um modelo baseline com as features originais.

4 - Trabalhar mais nos dados e criar novas variáveis.

5 - Testar as predições para casos reais.

6 - Criar um projeto com os resultados da Imersão e postar nas redes sociais mostrando o trabalho realizado. Lembre-se de marcar a @AluraOnline e utilizar as hashtags #ImersãoDados e #ImersãoDados4.